@font-face {
  font-family: 'PangMenZhengDao';
  src: url('./PangMenZhengDaoBiaoTiTiMianFeiBan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PangMenZhengDao';
  src: url('./PangMenZhengDao-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
